/*[class*="bg-solid"] {
	border: 1px solid rgba(0, 0, 0, .3);
	box-shadow: 0 2px 6px rgba(0, 0, 0, .4);
	text-shadow: 0 2px 2px rgba(0, 0, 0, .3);
}*/


.bg-default {
  background: -webkit-radial-gradient(#F0F0F0, #BEBEBE);
  background: -moz-radial-gradient(#F0F0F0, #BEBEBE);
  background: -ms-radial-gradient(#F0F0F0, #BEBEBE);
  background: -o-radial-gradient(#F0F0F0, #BEBEBE);
  background: radial-gradient(#F0F0F0, #BEBEBE);
}

/*
included for legacy support of old decks with the defaultbg attribute set.
*/
.defaultbg {
  background: -webkit-radial-gradient(#F0F0F0, #BEBEBE);
  background: -moz-radial-gradient(#F0F0F0, #BEBEBE);
  background: -ms-radial-gradient(#F0F0F0, #BEBEBE);
  background: -o-radial-gradient(#F0F0F0, #BEBEBE);
  background: radial-gradient(#F0F0F0, #BEBEBE);
}

.bg-solid-orange {
	background-color: #774040;
}

.bg-solid-black {
	background-color: #222;
}

.bg-solid-light {
	background-color: white;
}
.bg-gradient{
	background: linear-gradient(330deg, #00e880 0%, #00c69a 25%, #00e880 100%);
}
/* .bg-particles-js {
  background-color: white;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index:50;
  color:#00e781;
  :particleOpacity="0.7"
  :particlesNumber="80"
  shapeType="circle"
  :particleSize="8"
  linesColor="#ccc"
  :linesWidth="1"
  :lineLinked="true"
  :lineOpacity="0.4"
  :linesDistance="150"
  :moveSpeed="3"
  :hoverEffect="true"
  hoverMode="grab"
  :clickEffect="true"
  clickMode="push"
} */
.bg-solid-smoke {
	background-color: #DDD;
}

.bg-solid-yellow {
	background-color: #D1B377;
}

.bg-solid-grass {
	background-color: #597847;
}

.bg-solid-darkgreen {
	background-color: #134952;
}

.bg-solid-sky {
	background-color: #515E99;
}

.bg-solid-lavender {
	background-color: #443C4D;
}

.bg-solid-purple {
	background-color: #6C478F;
}

.bg-solid-salmon {
	background-color: #C98D8D;
}

.nobg {
	background: url(img/nobg.png);
	background-size: 40px 40px;
}

.themeProviders .thumbnail {
	height: 20px;
	width: 20px;
	padding: 10px;
}
